<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('calendar') }}">Calendar</a>
        <a href="{{ url_for('competitions') }}">Competitions</a>
        <a href="{{ url_for('teams') }}">Teams</a>
    </nav>
    <main>
        <div class="filter-buttons">
            <button onclick="filterEvents('all')">All</button>
            <button onclick="filterEvents('scheduled')">Scheduled</button>
            <button onclick="filterEvents('live')">Live</button>
            <button onclick="filterEvents('finished')">Finished</button>
        </div>
        <div class="events-calendar" id="events"></div>
    </main>
    <footer>
        <p>&copy Sports Event Calendar. All rights reserved</p>
    </footer>
    <script>
        let allEvents = [];

        async function loadEvents() {
            const res = await fetch('/api/events');
            allEvents = await res.json();

            allEvents.sort((a, b) => new Date(a.date) - new Date(b.date));
            displayEvents(allEvents);
        }

        function formatParticipants(event) {
            const participants = event.team.split(' vs ');

            if (participants.length > 2) {
                return `
                    <div class="participants">
                        <p>Participants:</p>
                        <ul>
                            ${participants.map(p => `<li>${p}</li>`).join('')}
                        </ul>
                    </div>
                `;
            }

            return `
                <div class="participants">
                    ${participants.join(' vs ')}
                </div>
            `;
        }

        function displayEvents(events) {
            const container = document.getElementById('events');
            container.innerHTML = '';

            events.forEach(event => {
                const date = new Date(event.date);
                const formattedDate = date.toLocaleString(undefined, {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit'
                })
                const venueText = event.venue === '-' ? event.location : `${event.venue}, ${event.location}`
                const participantsHTML = formatParticipants(event);

                const div = document.createElement('div');
                div.className = 'event-card';

                div.innerHTML = `
                    <div class="event-header">${participantsHTML}</div>
                    <div class="event-meta">
                        ${formattedDate}<br>
                        Competition: ${event.competition}<br>
                        Venue: ${venueText}
                    </div>
                    <div class="status ${event.status}">
                        ${event.status.toUpperCase()}
                    </div>
                `;
                container.appendChild(div);
            });
        }

        function filterEvents(status) {
            if (status === "all") {
                displayEvents(allEvents);
            } else {
                const filtered = allEvents.filter(e => e.status === status);
                displayEvents(filtered);
            }
        }
        loadEvents()
    </script>
</body>
</html>
