<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sports Event Calendar</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('calendar') }}">Calendar</a>
        <a href="{{ url_for('competitions') }}">Competitions</a>
        <a href="{{ url_for('teams') }}">Teams</a>
    </nav>
    <main></main>
    <footer>
        <p>&copy Sports Event Calendar. All rights reserved</p>
    </footer>
</body>
</html>
